name: Governance
on:  
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]  
  workflow_dispatch:
jobs:  
  governance:    
    runs-on: ubuntu-latest
    environment: Production    
    steps:      
      - uses: actions/checkout@v2      
      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}      
      - name: Apply platform governance
        run: |
          export GITHUB_TOKEN=${{ secrets.PAT }}
          az account set --subscription ${{ secrets.SUBSCRIPTIONID }}
          az aks get-credentials --resource-group Dapr-demo --name dapr-k8s-moimha --overwrite-existing
          cd src
          chmod +x ./do.sh
          ./do.sh
          
